* {
    margin:0;
	padding:0;
} 

.navtext {
   text-decoration: none;
   color: inherit;
} 

html { 
	height: 100%; /* Damn you CSS. You evil devil of the modern web. */
	scroll-behavior: smooth;
	} 

 body { height: 100%;
	background:#b9c5dd;
	font-family: 'Titillium';
	font-size:15pt;
	}
	
@font-face {	
	font-family: 'Titillium';
	src: url('TitilliumWeb-Light.ttf');	
	}

	
navbar {
	width: 100%;
	background: #8b9cbf;
    overflow: hidden;
	position:fixed;
	top:0px;
	left:0px;
	border-bottom: thin solid #aaaaee;
	transition: top 0.2s ease-in-out;
	}

.nav-up {
  top: -2.9vw;
}
	
.navimage {
	height:2.7vw;
	/*min-height:30px;
	padding-right:5% */
	float:left;
	}

navextlink {
	float:right;
	position:fixed;
	right:0px;
	top:0px;
}

.extlink-subtle {
	opacity: 0.6;
}

.extlink-subtle:hover {
	opacity: 1.0;
}
	
.navbutton {
	display: inline;
	font-size: 1.9vw;
	height:100%;
	max-width: 20%;
	padding-left: 2%;
	padding-right: 2%;	
	vertical-align: center;
	min-height:25px;
	}	
	
.navbutton:hover {
	background: #5C739E;	
	}
	

.navspacer {
	display: inline;
	font-size: 1.9vw;
	height: 10%;
	padding: 2%;
	}		

.container {
	width:100%;
	display: inline;
	overflow: hidden;
    white-space: nowrap;
	}
	
.side-spacer {
	display: inline-block;
	width: 14%;
	height: 100%;	
	font-size:0px;
	}
	
.timeline {
	display: inline-block;
	width: 90%;
/*	background: #aabbee; */
	border-radius:10px;	
	margin: 5%;
	margin-left:5%;
	overflow:hidden;
	}
	
.blast-container {
	width: 94%;
	background: #fafaff;
	border-radius: 5px;
	margin: 1%;
	box-shadow: 0px 0px 5px #999999;
	overflow: hidden;

	}
	
.blast-container:hover {
	/* box-shadow: 1px 0px 10px #000000; */
	}
	
.blast-content {
	display: inline-block;
	width: 92%;
	margin-left: 3%;
	margin-top: 3%;
	text-overflow:none;
	padding-bottom:3%;
	}
	
.blast-buttons {
	display: inline-block;
	background: #b9c5dd;
	padding: 1vw;
	margin: 0.25vw;
	border-radius:5px;
	text-align: center;
	vertical-align:center;

	}
	
.blast-buttons:hover {
	background: #8B9CBF;
	box-shadow: 1px 1px 5px #333366;
	}
	
.reply-button {
	max-width: 80%; 
	margin-left:10%;
}	

.secretanchor {
	visibility:hidden;
}	

.footer {
	/*position: fixed;
	bottom:0px;*/
	width:100%;
	height: 3%;
	background: #8b9cbf;		
	text-align: center;
}	

.texticon {
	height: 2vw;
	width: auto;
	vertical-align:middle;
}

.objectembed {
	height: 50vw;
}

.standouttext {
	font-weight: 200;
	font-size: 15pt;
	font-style: italic;
	vertical-align: middle;
	text-decoration: none;
}
